[Desktop Entry]
Version=1.0
Type=Application

Name=Community Remote
Comment=The for Community by Community Roon Remote
Categories=AudioVideo;Player;

Icon=com.theappgineer.community_remote
Exec=community_remote
Terminal=false
